<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>
        .rounded {
            counter-reset: li;
            list-style: none;
            font: 14px "Trebuchet MS", "Lucida Sans";
            padding: 0;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
        }

        .rounded a {
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            margin: .5em 0;
            background: #DAD2CA;
            color: #444;
            text-decoration: none;
            border-radius: .3em;
            transition: .3s ease-out;
        }

        .rounded a:hover {
            background: #E9E4E0;
        }

        .rounded a:hover:before {
            transform: rotate(360deg);
        }

        .rounded a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #8FD4C1;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid white;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            transition: all .3s ease-out;
        }
    </style>
</head>
<body>
{{if not .Auth}}
    <form action="/login" method="post" enctype="multipart/form-data">
        <h2>Секретный ключ</h2>
        <input type="text" name="key" id="key">
        <button type="submit">Проверить</button>
    </form>
{{else}}
    <div>{{.Usr}}</div>
{{end}}
<h1>{{.H1}}</h1>
<form action="/add" method="post" enctype="multipart/form-data">
    <h2>Добавление документа в СКО</h2>
    <input type="file" name="file" id="file">
    <button type="submit">Добавить</button>
</form>

<hr>
<h2>Файл под системой контроля СКО</h2>
<div>
    <ol class="rounded">
        {{range .VerifyData}}
            <li><a href="file/{{.File_hash}}">{{ .File_name }}</a></li>
        {{end}}
    </ol>
</div>
<ul>

</ul>

</body>
</html>